.scrollable_v {
    scroll-snap-type: y none;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;

    @media (max-width: 768px) {
        scroll-snap-type: y mandatory;
    }
}

.scrollable_v > * {
    height: 100vh;
    display: flex;
    position: relative;
    box-sizing: border-box;
    top: 0;
    scroll-snap-align: start;
}

.scrollableWrap_v {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.scrollable_h {
    scroll-snap-type: x none;
    overflow-x: scroll;
    width: 100vw;
    overflow-y: hidden;
    display: flex;

    @media (max-width: 768px) {
        scroll-snap-type: x mandatory;
    }
}

.scrollable_h > * {
    flex: none;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.scrollableWrap_h {

    overflow-x: hidden;
}