@mixin slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 1px 1px 14px -1px rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 10px
}

.horizontalSlider {
    @include slider;
    flex-direction: row-reverse;
    width: 200;
    height: 15px;
    @media (max-width: 1000px) {
        width: 200px;
    }
    @media (max-width: 769px) {
        width: 200px;
    }
}

.verticalSlider {
    @include slider;
    flex-direction: column;
    height: 500px;
    width: 15px;
    @media (max-height:900px) {
        height: 400px;
    }
    @media (max-height:730px) {
        height: 290px;
    }
}

.multiSliderWrapper {
    position: relative;
}
