@mixin slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 1px 1px 14px -1px rgba(0,0,0,0.2);
}

.horizontalSlider {
    @include slider;
    flex-direction: row-reverse;
    width: 900px;
    height: 20px;
    @media (min-width: 1000px) {
        width: 600px;
    }
    @media (min-width: 769px) {
        width: 500px;
    }
}

.verticalSlider {
    @include slider;
    flex-direction: column;
    height: 500px;
    width: 10px;
    @media (max-height:900px) {
        height: 400px;
    }
    @media (max-height:730px) {
        height: 290px;
    }
}