@use '@/styles/theme';

body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: theme.$background;
}

* {
    direction: rtl;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}