@use 'theme';

body {
    margin: 0;
    scroll-behavior: smooth;
    background-image: 
        radial-gradient(at 47% 33%, rgb(205, 209, 255) 0, transparent 59%), 
        radial-gradient(at 82% 65%, rgb(255, 255, 255) 0, transparent 70%),
        radial-gradient(at 30% 45%, rgb(255, 124, 216) 0, transparent 70%);
}

* {
    direction: rtl;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}