@use '@/styles/theme';

.firstFormSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    > * {
        margin: 0%;
    }
    button {
        @include theme.primary-button;
        margin: 0%;
    }
    button:disabled {
        @include theme.primary-button;
        background-color: theme.$secondary_background;
        color: black;
    }

    button:hover {
        @include theme.primary-button-hover;
    }

    button:hover:disabled {
        background-color: theme.$secondary_background;
        color: black;
        border:none;
        cursor: default;
    }

    > h1 {
        font: theme.$big_text_font;
        font-size: 50px;
        color: theme.$primary_text;

        @media (max-width: 768px) {
            font: theme.$big_text_font_mobile;
            font-size: 32px/15px;
        }
    }


    > p {
        text-align: center;
        color: theme.$secondary_text;
        font: theme.$medium_text_font;

        @media (max-width: 1000px) {
            font: theme.$medium_text_font_mobile;
        }
    }
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 15% 5%;

    @media (max-width: 1000px) {
        flex-direction: column;
        margin: auto;
    }

    .mainTextArea {
        width: 35%;

        h1 {
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            font: theme.$big_text_font;
            text-align: center;

            @media (max-width: 1000px) {
                font: theme.$big_text_font_mobile;
            }
        }
        font: theme.$medium_text_font;

        p {
            text-align: center;
            color: theme.$secondary_text;
            font: theme.$medium_text_font;

            @media (max-width: 1000px) {
                font: theme.$medium_text_font_mobile;
            }
        }

        @media (max-width: 1000px) {
            width: auto;
        }

        button {
            @include theme.primary-button;
            margin: auto;
        }
    
        button:hover {
            @include theme.primary-button-hover
        }
    }
    .laptopImage {
        padding: 3em;
        width: 37%;
        max-width: 715px;
        transform: scaleX(-1);

        @media (max-width: 900px) {
            width: auto;
            max-width: 425px;
        }
    }
}