@use 'theme';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.navbar {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;

    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: theme.$small_text;
        color: theme.$primary_text;
        margin: 0;
        padding: 0;
        margin-right: auto;
    }

    @media (max-width: 768px) {
        padding: 0 5%;
    }
}

.wrap {
    background-color: theme.$background;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}