@use '@/styles/theme';

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

    > h1 {
        font: theme.$big_text_font;
        color: theme.$primary_text;

        @media (max-width: 768px) {
            font: theme.$big_text_font_mobile;
        }
    }
}

.laptopListWrap {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 30px;
    position: relative;

    @media (max-aspect-ratio: 16/9) {
        width: 38%;
    }

    @media (max-aspect-ratio: 16/12) {
        max-height: 60%;
        gap: 30px;   
    }

    @media (max-aspect-ratio: 1/1) {
        width: 65%;
        gap: 15px;
    }
    @media (max-aspect-ratio: 9/16) {
        width: 70%;
        gap: 10px;
    }
}
