@use '@/styles/theme';

.laptopImage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.laptopCardText {
    text-align: right;
    max-width: 65%;
    * {
        margin: 0px;
    }

    > h1 {
        font: theme.$medium_text_font;
        font-weight: 600;
        margin: 0px;
        line-height: 40px;

        @media (max-aspect-ratio: 1/1) {
            font: theme.$medium_text_font_mobile;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }

        @media (max-aspect-ratio: 1/2) {
            line-height: 20px;
            font-size: 13px;
        }
    }

    a {
        text-decoration: none;
        width: fit-content;
        margin: 0px;
    }
    button {
        @include theme.primary-button;
        max-width: 150px;
        height: 35px;
        z-index: 1;
        @media (max-width: 600px) {
            width: 100px;
            height: 30px;
        }
        line-height: 25px;
        text-align: center;
        margin-top: 12px;
    }

    button:hover {
        @include theme.primary-button-hover
    }
}