@use '@/styles/theme';

.laptopImage {
    max-width: 30%;
    @media (max-width: 769px) {
        max-width: 45%;
    }
}
.laptopCardText {
    text-align: right;
    max-width: 40%;
    @media (max-width: 769px) {
        max-width: 65%;
    }
    * {
        margin: 0px;
    }

    h1 {
        font: theme.$medium_text_font;
        font-weight: 600;
        margin: 0px;
        line-height: 40px;

        @media (max-aspect-ratio: 1/1) {
            font: theme.$medium_text_font_mobile;
            font-weight: 600;
            font-size: 19px;
            line-height: 30px;
        }
    }

    a {
        text-decoration: none;
        width: fit-content;
        margin: 0px;
    }
    button {
        @include theme.primary-button;
        z-index: 1;
        @media (max-width: 600px) {
            width: 100px;
            height: 30px;
        }
        line-height: 25px;
        text-align: center;
        margin-top: 12px;
    }

    button:hover {
        @include theme.primary-button-hover
    }
}