@use '@/styles/_theme.scss';

.navbar {
    direction: ltr;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: theme.$small_text;
        color: theme.$primary_text;
        margin: 0;
        padding: 0;
        margin-right: auto;
    }

    @media (max-width: 768px) {
        padding: 0 5%;
    }
    a {
        text-decoration: none;
        color: theme.$primary_text;
    }
}

.navbarWrap {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}