.errorImg {
    @media (max-width: 768px) {
        width: 80%;
    }
}

.errorFigure {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}