.errorImg {
    max-width: 200px;
    margin: 2vmin;
    @media (max-aspect-ratio: 1/1) {
        width: 25%;
    }
}

.errorFigure {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}