@use '@/styles/theme';

.card {
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

    .cardIcon {
        max-width: 40%;
        @media (max-width: 769px) {
            max-width: 60%;
        }
    }

    > div > figcaption {
        font: theme.$medium_text_font;
        @media (max-width: 769px) {
            font: theme.$medium_text_font_mobile;
            font-size: 20px;
            line-height: 20px;
        }
        @media (max-width: 600px) {
            font: theme.$medium_text_font_mobile;
            font-size: 16px;
            line-height: 16px;
        }
    }
}

.cardWrapper {
    position: relative;
    max-width: 15%;
    border: 2px solid theme.$green;
    border-radius: 10px;
    transition: .5s cubic-bezier(0.66, 0.25, 0.32, 0.74);
    aspect-ratio: 12/13;
    box-shadow: 1px 1px 14px -1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    @media (max-width: 769px) {
        max-width: 240px;
    }
    @media (max-width: 600px) {
        max-width: 125px;
    }
}
.activeCardWrapper {
    background-color: theme.$secondary_background;
    transform: scale(0.9);
    transition: .5s cubic-bezier(0.66, 0.25, 0.32, 0.74);
}
.cardWrapper:hover {
    transition: .1s cubic-bezier(0.66, 0.25, 0.32, 0.74);
    background-color: theme.$secondary_background;
}

.descIcon {
    border: 1px solid theme.$secondary_text;
    width: 15px;
    line-height: 15px;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    transition: .3s cubic-bezier(0.66, 0.25, 0.32, 0.74);
    color: theme.$secondary_text;
    font-size: 18px;

    @media (max-width: 769px) {
        font-size: 12px;
        width: 10px;
        line-height: 10px;
    }
}

.descIcon:hover {
    transition: .1s cubic-bezier(0.66, 0.25, 0.32, 0.74);
    background-color: theme.$light_gray;
}

.descIconWrapper {
    position: absolute;
    right: 15px;
    top: 15px;
    @media (max-width: 769px) {
        right: 10px;
        top: 10px;
    }
    width: fit-content;
    cursor: pointer;
    .activeDesc {
        transition: .1s cubic-bezier(0.66, 0.25, 0.32, 0.74);
        background-color: theme.$light_gray;
    }
}
